html {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: black;
    color: blue;
    display: grid;
    align-items: center;
    height: 100%;
    border: 3px dashed red;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    grid-template-rows: repeat(4,1f);
    grid-template-areas: "first"
    "second"
    "third"
    "forth";
}

.block {
    background-color: white;
}

/*.container {
    background-color: violet;
    width: 400px;
    min-height: 400px;
    margin: 25vh 50vh 0vh 50vh;
    display: grid;
    grid-gap: 3px;
    grid-template-rows: repeat(4,1f);
    align-content: center;
    justify-content: center;
    grid-template-areas: "first"
    "second"
    "third"
    "forth";
}*/

.b-1 {
    grid-area: first;
}

.b-2 {
    grid-area: second;
}

.b-3 {
    grid-area: third;
}

.b-4 {
    grid-area: forth;
}