html {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: black;
    color: blue;
    display:flex;
    align-items: center;
    height: 100%;
    border: 3px dashed red;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    flex-direction: column;
}

.block {
    background-color: white;
    width: 100px;
    height: 100px;
}

.container {
    background-color: violet;
    width: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    margin: auto auto auto auto;
}